body{
    background-color: #d5bc92;
    margin: 0px;
    padding: 50px;
    font-family: 'Noto Sans', sans-serif;
}

#main-body{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

#left{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#right{
    background-color: azure;
    border-radius: 5px;
    width: 900px;
    height: 800px;
    text-align: left;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    margin-right: 265px;
}
.logo{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#logo-img img{
    margin: 0px;
    padding: 0px;
    width: 58px;
}
.site-name p{
    margin-top: 0px;
    padding: 0px;
    font-family: "Archivo Narrow", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #6b4d26;
}
