body{
    background-color: #d5bc92;
    margin: 0px;
    padding: 50px;
    font-family: 'Noto Sans', sans-serif;
}

#main-body{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

#left{
    width: 250px;
    border: black solid 1px;
}

#right{
    background-color: azure;
    border-radius: 5px;
    width: 900px;
    height: 800px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    margin-right: 265px;
}