*{
    box-sizing: border-box;
}
body{
    background-color: #d5bc92;
    margin: 0px;
    padding: 50px;
    font-family: 'Noto Sans', sans-serif;
}

#main-body{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

#left{
    width: 250px;
    height: 710px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: sticky;
    top: 50px;
}
.logo{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
}
.logo a{
    text-decoration: none;
}
#logo-img img{
    width: 58px;
}
.site-name{ 
    margin-top: 2px;
    padding: 0px;
    height: 40px;
    font-family: "Archivo Narrow", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #5c4528;
    align-content: center;
}
.site-name:hover{
    color: #0c0905;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 56px;
}
.links a{
    display: block;
    margin-top: 15.25px;
    height: 24.8px;
    font-size: 18px;
    color: #6b4d26;
    text-decoration: none;
    align-content: center;
    font-family: "Noto Sans", sans-serif;
}
.links a:hover{
    color: #0c0905;
}
.social-media-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 180px;
    margin: 33px 0px;
}
.social-media-icon a img{
    width: 25px;
    color: #6b4d26;
    transition: transform 0.2s ease;
}
.social-media-icon a img:hover{
    color: #0c0905;
    transform: scale(1.4);
}
.like{
    width: 100px;
    height: 25px;
    background-color: #1877F2;
    padding: 3px;
    align-content: center;
    border-radius: 3px;
    transition: transform 0.3s ease;
}
.like:hover{
    transform: scale(1.2);
}
.like img{
    width: 14px;
}
.like a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
    height: 20px;
}
.like-icon{
    font-size: 14px;
}
.followers{
    font-size: 18px;
}

.subscribe{
    margin-top: 20px;
    width: 124px;
    height: 18px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease;
}
.subscribe:hover{
    transform: scale(1.2);
}
.subscribe img{
    width: 100px;
}
.subscribe a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.subscribe a span{
    color: #0c0905;
    font-weight: bold;
    background-color: azure;
    height: 28px;
    align-content: center;
}
#right{
    background-color: white;
    border-radius: 5px;
    width: 900px;
    height: 2310px;
    text-align: left;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    margin-right: 265px;
    padding: 20px;
}
.about-us{
    color: #6b4d26;
    margin: 0px 0px 21.44px;
    padding: 0px;
}
.video{
    display: block;
    margin: 0px;
}
.our-story{
    display: block;
    margin: 19.92px 0px;
}
.a1{
    color: forestgreen;
}
p{
    display: block;
    line-height: 1.7;
    margin: 16px 0px;
}
.founder-philosophy{
    margin: 19.92px 0px;
}
.why-peepal-farm{
    margin: 19.92px 0px;
}
li{
    margin: 0px;
    line-height: 1.7;
}
.vision{
    margin: 19.92px 0px;
}
.mission{
    margin: 19.92px 0px;
}
.methodology{
    margin: 19.92px 0px
}
.help-animals{
    margin: 19.92px 0px;
}


